<div class="d-flex flex-column vh-100" style="background: linear-gradient(#4e54c8, #8f94fb)">
  <app-navbar />
  <div class="flex-grow-1 d-flex align-items-center">
    <div class=" container card shadow-lg p-4 " style=" border-radius: 20px; background: rgba(255, 255, 255, 0.8); backdrop-filter: blur(10px); border: none">
      <h4>Main Dashboard</h4>
      <p>Welcome to the task management system.</p>
      <hr />
      <div class="row mt-5">
        <div class="col-md-6" *ngIf="columnChart() as chart">
          <div [chart]="chart"></div>
        </div>
        <div class="col-md-6" *ngIf="donutChart() as chart">
          <div [chart]="chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>